body {
  margin: 0;
  font-size: 16px;
  font-family: Microsoft Yahei;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  width: 280px;
  height: 300px;
  margin: 0 auto;
  background-color: #ccc;
}


/*
* 垂直li下方4px空白
IE6、7下，li的子元素脱离文档流而且自身触发haslayout时会有 4像素bug
*/
.list {
  background-color: #0f0;
}
.list > li {
  height: 25px;
  line-height: 25px;
}
.list-flo .item-l {
  float: left;
}
.list-flo .item-r {
  float: right;
}
.list-pos > li {
  position: relative;
}
.list-pos .item-l {
  position: absolute;
  left: 0;
}
.list-pos .item-r {
  position: absolute;
  right: 0;
}


/*li可以居然可以包住浮动，以及vertical-align为什么会对li生效*/
.baishe {
  height: 53px;
  line-height: 53px;
  font-size: 0;
  background-color: #656;
}
.baishe>img {
  display: inline-block;
  width: 41px;
  height: 41px;
  vertical-align: middle;
}
.qinshe {
  height: 50px;
  background-color: #808;
}
.inlay {
  /*height: 41px;*/
  /*vertical-align: top;*/
  background-color: #505;
}
.inlay>img {
  float: right;
}


/*
* 输入类表单上下1px空白
*/
.form {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 2px solid #f00;
}
.form > input {
  width: 55px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
/*
.input {
  width: 55px;
  height: 20px;
  padding: 2px 1px;
  border: 1px solid #707070;
  background-color: #fff;
}
*/
