* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	font:14px 'Microsoft YaHei';
	width: 100%;
	min-width: 1280px;
}

/*header*/
.header {
	width: 90%;
	height: 55px;
	margin: 0 auto;
}
.logo {
	float: left;
	font:21px 'SimHei';
	line-height: 31px;
	width:105px;
	height:31px;
	margin:12px 0;
	text-align: right;
	color:#000;
	background:url(images/book.png) no-repeat left;
}
.nav {
	float: right;
	margin-right: 10px;
}
.nav > li {
	float: left;
	height:51px;
	line-height: 51px;
	text-align: center;
}
.nav > li > a {
	display:inline-block;
	padding:0 25px;
	color:#787b83;
}
.nav > li > a.nav-click,
.nav > li > a:hover {
	color:#e74f4d;
	border-bottom: 4px solid #f00;
}
.regit {
	float:right;
	width:50px;
	height:17px;
	line-height: 17px;
	text-align: right;
	margin:19px 0;
	color:#e74f4d;
	background:url(images/regit.png) no-repeat;
}

/*start*/
.start {
	position: relative;
	height:940px;
}
.tiyan-bg {
	height: 690px;
	background: url(images/start_bg.png) no-repeat;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/start_bg.png',sizingMethod='scale');
}
.tiyan {
	position: absolute;
	top: 230px;
	left: 9%;
	color: #fff;
}
.tiyan-t {
	font-size: 60px;
}
.tiyan > p {
	font-size: 20px;
	line-height: 33px;
	margin: 8px 0 55px 10px;
}
.tiyan > a {
	display:inline-block;
	font-size: 30px;
	line-height: 60px;
	width: 330px;
	height: 60px;
	margin-left: 10px;
	text-align: center;
	color: #fff;
	background: #e74f4d;
}
.tiyan > a:hover {
	background: #f00;
}
.miaoshu {
	float:left;
	width:25%;
	text-align: center;
}
.miaoshu > img {
	margin:45px 0;
}
.miaoshu p {
	font-family: 'SimHei';
	color:#7a7a7a;
}
.shuxian {
	height:50px;
	border-right: 2px solid #ababab;
}

/*wonner*/
.wonner-t {
	height:360px;
	text-align: center;
	background: #ededed;
}
.wonner-t > img {
	margin-top:90px;
}
.wonner-t > p {
	margin-top:50px;
	font:54px 'SimHei';
	color:#9f9f9f;
}

.wonner-m {
	height:340px;
	background: url(images/wonner_bg.png) no-repeat;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/wonner_bg.png',sizingMethod='scale');
}
.finder {
	position: relative;
	width:1060px;
	margin:0 auto;
}
.biaoti {
	height:70px;
	padding:50px 0;
	text-align: center;
}
.biaoti > p {
	color:#fff;
}
.he-1 {
	font-size: 21px;
}
.line {
	width:30px;
	height:2px;
	margin:5px auto 15px;
	background: #fff;
	overflow: hidden;
}
.he-2 {
	font-size: 12px;
}
.finder button {
	width:235px;
	height:35px;
	cursor:pointer;
	border:0;
	outline: none;
	font-family: 'Microsoft YaHei';
}
.sousuo,
.search {
	float:left;
	margin:0 15px;
}
.sousuo {
	display: inline;
	position: relative;
}
.sousuo > button {
	text-align: left;
	font-size: 12px;
	padding-left: 10px;
	color:#B3B3B3;
	background: url(images/jiantou.png) 96% 9px no-repeat #fff;
}
.sousuo > ul {
	position:absolute;
	top:0;
	left:0;
	padding-top:33px;
	cursor:pointer;
	border:2px solid #bf4e48;
}
.sousuo > ul > li {
	width:201px;
	height:25px;
	line-height: 25px;
	color:#88888a;
	font-size: 12px;
	padding-left: 30px;
	background: #e3e3e5;
}
.sousuo > ul > li.li-hover {
	color:#fff;
	background: url(images/gouxuan.png) 5px 9px no-repeat #bf4e48;
}
.search {
	color:#fff;
	background: #bf4e48;
}
.sub-hover {
	background: #f00;
}

.wonner-b {
	height:600px;
	background: #f8f8f8;
}
.huodong {
	width:1040px;
	margin:0 auto;
	padding-top:100px;
}
.activity {
	display:inline;
	float:left;
	width:220px;
	margin:0 20px;
	text-align: center;
}
.activity-img {
	height:338px;
	border:1px solid #e1e1e1;
	background: #fff;
}
.activity-img > a > img {
	border:0;
	padding-top:12px;
}
.p-1 {
	font-size:15px;
	margin:11px 0 6px;
}
.p-2 {
	font-size:13px;
	color:#848484;
}